# AI specific
langchain
langchain-google-genai
langchain-community

# Python specific packages
python-dotenv
pytest
pydantic
fastapi
uvicorn[standard]
gunicorn
jinja2
python-multipart

# Others
wikipedia
duckduckgo_search
